// Bootstrao
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "stylesheets/bootstrap.scss";

// Font-awesome
$fa-font-path: "../..//bower_components/font-awesome/fonts";
@import 'font-awesome/scss/font-awesome';


@import 'vendor/casper';
@import 'syntax';
// @import 'font-awesome/scss/font-awesome';



// Overwrite some styles from casper.css
pre {
  background: transparent;
  border-style: none;
  padding: initial;
}

.navbar-brand {
	line-height: 35px;
}
.navbar{
	margin-bottom: 0px;
}

.is-active{
	border: 2px solid #F19100;
	border-radius: 3px;
}
