// Bootstrao
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "stylesheets/bootstrap.scss";

// Font-awesome
$fa-font-path: "../..//bower_components/font-awesome/fonts";
@import 'font-awesome/scss/font-awesome';

// Vendor CSS
@import 'vendor/casper';
@import 'vendor/kudos';
	// RoyalSlider
@import 'vendor/royalslider';
@import 'vendor/skins/default/rs-default';

@import 'syntax';


// Overwrite some styles from casper.css
pre {
  background: transparent;
  border-style: none;
  padding: initial;
}

.navbar-brand {
	line-height: 35px;
    @media only screen and (max-width: $screen-sm-min) {
	    height: 64px;
	}
}
.navbar{
	margin-bottom: 0px;
}

.is-active{
	border: 2px solid #F19100;
	border-radius: 3px;
}

.my-background-image{
	background-image: url("/assets/images/engine.svg");
	height: 200px;
	width: 360px;
}

figure.kudo {
	position: inherit; 
	right: 50%;
	margin-right: -30px;
	text-align: center;
}

.nav{
	text-align: center;
}

.rsDefault .rsBullets {
	line-height: 30px;
}