%form{"accept-charset" => "UTF-8", :action => "https://formkeep.com/f/6c0ebfbd99aa", :method => "POST"}
	%input{:name => "utf8", :type => "hidden", :value => "✓"}/
	%input{:name => "email", :placeholder => "Your Email", :type => "email"}/
	%input{:name => "name", :placeholder => "Your Name", :type => "text"}/
	%input{:name => "url", :placeholder => "Your Website", :type => "url"}/

	%button.btn.btn-primary{:type => "submit"} Submit